<div class="navbar navbar-inverse" ng-controller="mainCtrl as vm">
    <a class="navbar-brand" href="#!/main">SPORTS STORE</a>
    <button class="btn btn-default pull-right logout-btn"
            ng-click="vm.logout()">
        Logout
    </button>
</div>
<div class="row" ng-controller="mainCtrl as vm">
    <div class="col-xs-3 panel-body">
        <a ng-repeat="item in vm.screens" class="btn btn-block btn-default"
           ng-class="{'btn-primary': item == vm.current }" ng-click="vm.setScreen($index)">
            {{item}}
        </a>
    </div>
    <div class="col-xs-9 panel-body" >
        <div ng-include="vm.getScreen()"/>
    </div>
</div>